/*
  Ref: https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction

  If you start using @apply for everything, you are basically just writing CSS
  again and throwing away all of the workflow and maintainability advantages
  Tailwind gives you.

  If you're going to use @apply, use it for very small, highly reusable things
  like buttons and form controls.
*/

@layer base {
  h1 { @apply font-bold text-4xl }
  h2 { @apply font-bold text-2xl }

  a:not(.btn) {
    @apply
      text-indigo-600
      visited:text-violet-500
      hover:underline
      active:bg-violet-100
      cursor-pointer
  }
}

@layer components {
  .btn {
    @apply
      cursor-pointer
      focus:ring-2
      font-bold
      inline-block
      normal-case
      px-4
      py-2
      rounded-md
      shadow-md
      shadow-gray-400
  }
  .btn-primary {
    @apply
      bg-violet-500
      focus:ring-violet-300
      hover:bg-violet-700
      text-violet-50
  }
  .btn-secondary {
    @apply
      bg-slate-200
      focus:ring-slate-400
      hover:bg-slate-300
      text-slate-600
  }
  .btn-secondary--disabled {
    @apply
      bg-slate-400
      focus:ring-slate-400
      text-slate-100
      cursor-default
  }
  .btn-info {
    @apply
      bg-gray-200
      focus:ring-gray-400
      hover:bg-gray-300
      text-gray-600
  }
  .btn-danger {
    @apply
      bg-red-500
      focus:ring-red-300
      hover:bg-red-600
      text-red-50
  }
  .btn-warning {
    @apply
      bg-orange-500
      focus:ring-orange-300
      hover:bg-orange-600
      text-orange-50
  }
  .btn-success {
    @apply
      bg-green-600
      focus:ring-green-400
      hover:bg-green-700
      text-green-50
  }
}
