<p>
  Hi <%= @change_email %>!
</p>

<p>
  You requested to change your email address from <%= @email %> to <%= @change_email %>.
</p>

<p>
  Here is your verification code:
</p>

<p>
  <%= @change_email_confirmation_code %>
</p>
