<div class="mb-2 flex flex-col items-center" data-turbo-cache="false">
  <% @flash.each do |flash_item| %>
    <%
      alert_kwargs = build_alert_kwargs(flash_item)
      alert_content = get_alert_content(flash_item)
    %>

    <%= render(AlertComponent.new(**alert_kwargs)) do %>
      <% if alert_content.is_a?(Array) %>
        <ul>
          <% alert_content.each do |content_item| %>
            <li><%= content_item %></li>
          <% end %>
        </ul>
      <% else %>
        <%= alert_content %>
      <% end %>

    <% end %>
  <% end %>
</div>
