<% if resource.errors.any? %>
  <%= render(AlertComponent.new(variant: :danger)) do %>
    <ul>
      <% resource.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
