<p>
  Welcome <%= @email %>!
</p>

<p>
  You can confirm your email through the link below:
</p>

<p>
  <%= link_to(
    'Confirm my email address',
    edit_users_confirmation_url(token: @confirmation_token, auto_click: true)
  ) %>
</p>
