<footer>
  <ul>
    <li>
      <a
        href="https://x.com/upper_town_hq"
        target="_blank"
        rel="noopener noreferrer"
        title="X @upper_town_hq"
      >
        <span>
          X
        </span>
      </a>
    </li>
  </ul>

  <%= yield(:footer) %>
</footer>
