<footer>
  <ul>
    <li>
      <a
        href="https://twitter.com/upper_town_hq"
        target="_blank"
        rel="noopener noreferrer"
        title="Twitter @upper_town_hq"
      >
        <span>
          Twitter
        </span>
      </a>
    </li>
  </ul>

  <div>
    © upper.town
  </div>

  <%= yield(:footer) %>
</footer>
