Welcome to your dashboard!

<ul>
  <li>
    <%= link_to("My Servers", inside_servers_path) %>
  </li>
  <li>
    <%= link_to("My Server Votes", inside_server_votes_path) %>
  </li>
  <li>
    <%= link_to("Manage my Account", inside_account_path) %>
  </li>
  <li>
    <%= link_to("View my Page", account_path(current_account)) %>
  </li>
</ul>
