Welcome to your dashboard!

<ul>
  <li>
    <%= link_to("My Servers", inside_servers_path) %>
  </li>
  <li>
    <%= link_to("My Server Votes", inside_server_votes_path) %>
  </li>
  <li>
    <%= link_to("Manage my User Account", inside_user_account_path) %>
  </li>
  <li>
    <%= link_to("View my Page", user_account_path(current_user_account.suuid)) %>
  </li>
</ul>
