<h2>
  Change Email: confirmation
</h2>

<%= form_with(
  model: @change_email_confirmation_edit,
  method: :put,
  url: users_change_email_confirmation_path,
  data: { 'controller' => 'form-error-messages-handler' }
) do |form| %>
  <%= form.hidden_field(:token) %>

  <div class="my-3">
    <%= form.submit(
      'Confirm and change my email address',
      class: 'btn btn-primary',
      data: {
        'turbo-submits-with' => 'Confirming...',
        'controller' => @change_email_confirmation_edit.auto_click ? 'auto-click' : nil
      }.compact,
    ) %>
  </div>
<% end %>
