<p>
  Welcome <%= @email %>!
</p>

<p>
  You can confirm your email through the link below:
</p>

<p>
  <%= link_to(
    'Confirm my email address',
    edit_admin_users_email_confirmation_url(token: @email_confirmation_code, auto_click: true)
  ) %>
</p>
